#box-game{
    display: none;
    width:  fit-content;
    margin: 0 auto;
}

.play-game{
    background-image: url('../assets/forca-01.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
}

#bg1{
    background-image: url('../assets/forca-02.png');
}

#bg2{
    background-image: url('../assets/forca-03.png');
}

#bg3{
    background-image: url('../assets/forca-04.png');
}

#bg4{
    background-image: url('../assets/forca-05.png');
}

#bg5{
    background-image: url('../assets/forca-06.png');
}

#bg6{
    background-image: url('../assets/forca-07.png');
}

#game-over{
    background-image: url('../assets/game-over.png');
}

#box-letter{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden-letter{
    background-color: rgb(8, 204, 204); ;
    color: rgb(8, 204, 204); ;
    text-transform: uppercase;
}

.visible-letter{
    color: black;
}

#box-tip{
    display: none;
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(8, 204, 204); 
    color: black;
    text-transform: uppercase;
    text-align: center;
}

#box-keyboard{
    display: none;
    flex-wrap: wrap;
    width: 538px;
    margin: 0 auto;
}

.letter{
    background-color: rgb(26, 22, 22);
    border-radius: 10px;
    margin: 3px;
}

#reload{
    background-color: rgb(26, 22, 22);
    border-radius: 10px;
    margin: 3px;
}