@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Henny+Penny&family=Rubik+Wet+Paint&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Henny+Penny&family=Rubik+Wet+Paint&family=Slackey&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Henny+Penny&family=Nosifer&family=Rubik+Wet+Paint&family=Slackey&family=Special+Elite&display=swap');

header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 50px;
    margin-bottom: 80px;
}

.cabecalho{
    position: relative;
    width: 940px;
    margin: auto;
    top: 50px;
}

.logos:hover{
    transition: 0.4s all;
    transform: scale(1.2, 1.2);
}

h2{
    position: absolute;
    right: 0;
    top:0;  
}

main{
   
    height: 110px;
}

.inputs{
    width: 500px;
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#enviar {
    margin-top: 0;
}

.palavras{
    width: 500px;
    height: 50px;
    border: none;
    background-color: rgb(37, 60, 191);
    margin: 10px 0;
    font-size: 22px;
    font-family: 'Nosifer', cursive;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px;
    display: inline-block;
}

.botao{
    width: 250px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    
}

.botao button{
    width: 250px;
    height: 50px;
    border: none;
    background-color: rgb(37, 60, 191);
    margin-top: 6px;
    font-size: 22px;
    font-family: 'Henny Penny', cursive;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px;
    display: inline-block;

}

.botao button:hover{
    color: rgb(206, 220, 0);
    border-color: rgb(206, 220, 0);
    font-size: 26px;
    transition: 0.2s all;
    transform: scale(1.1, 1.2);
}

.botao button:active{
    color: rgb(6, 253, 6);
    border-color: rgb(6, 253, 6);
    background-color: rgb(0, 0, 179);
}

.canvas{
    position: relative;  
}

#jogo{
    border: none;
    display: block;
    margin: auto;
    width: 800px;
    height: 500px; 
}

#recarregar{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 80%;
    border-radius: 40px;
    background-color: #00ae14;
}

#recarregar:active{
    transition: 0.4s all;
    transform: rotate(1.0turn);
}

footer{
    margin-top: 500px;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

.rede{
    width: 110px; 
    height: 50px;
    margin-left: auto;
    margin-right: auto; 
    margin-top:16%;    
}

.redes{
    width: 40px;
}

.redes:hover{
    transition: 0.4s all;
    transform: scale(1.3, 1.3);
}


.rodape p {
    height: 10px;
    display: inline-block;
    padding: 120px 0 0 0; 
}

p{
  font-size: 13px; 
  padding-bottom: 0.8%; 
}