header{
    background-color: rgb(206, 220, 0);
    padding: 20px;
    height: 150px;
    margin-bottom: 90px;
}

.cabecalho{
    position: relative;
    width: 940px;
    margin: auto;
    top: 50px;
}

h2{
    position: absolute;
    right: 0;
    top:0;
    
}
.inputs{
    width: 500px;
    display: flex;
    margin: auto;
}

.palavras{
    width: 500px;
    height: 50px;
    border: none;
    background-color: rgb(37, 60, 191);
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
    color: white;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px;
    display: inline-block;
}

.botao{
    width: 250px;
    margin: auto;
    top: 100px;
    bottom: 100px;
}

.enviar{
    width: 250px;
    height: 50px;
    border: none;
    background-color: rgb(37, 60, 191);
    margin-top: 6px;
    font-size: 22px;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 5px;
    display: inline-block;

}

footer{
    margin-top: 20px;
    height: 155px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.rodape {
    display: inline-block;
    padding: 120px 0 0 0;
    font-size: 13px;
}
